# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
*.env

# Database
db/*.db
*.sqlite3

# Logs
*.log

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Compiled files or temporary files
*.bak
*.swp
*.tmp

# PyInstaller build artifacts (if you package the app)
dist/
build/
*.spec
